In [2]:
%matplotlib inline
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv("dados_censo.csv")

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (40,45,46,53,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,144,145,146,150,154,155) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(16695, 237)

In [5]:
df.head()

,ANO,UF,Codmun6,Codmun7,Município,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
0,1991,11,110001,1100015,ALTA FLORESTA D'OESTE,"62,01","4,08","45,58","58,05","73,50",...,NaN,NaN,23417,22835,"0,117","0,109","0,329","0,112","0,617","0,516"
1,1991,11,110002,1100023,ARIQUEMES,"66,02","3,72","32,39","41,41","69,97",...,NaN,NaN,56061,55018,"0,200","0,199","0,432","0,199","0,684","0,593"
2,1991,11,110003,1100031,CABIXI,"63,16","3,89","41,52","52,94","77,23",...,NaN,NaN,7601,5846,"0,111","0,106","0,309","0,108","0,636","0,430"
3,1991,11,110004,1100049,CACOAL,"65,03","3,81","35,37","45,19","71,11",...,NaN,NaN,69173,66534,"0,176","0,169","0,407","0,171","0,667","0,593"
4,1991,11,110005,1100056,CEREJEIRAS,"62,73","3,55","43,00","54,82","71,09",...,NaN,NaN,19451,19030,"0,152","0,175","0,386","0,167","0,629","0,547"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Columns: 237 entries, ANO to IDHM_R
dtypes: float64(8), int64(69), object(160)
memory usage: 30.2+ MB